In [1]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import classification_report
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score

import matplotlib.pyplot as plt
import pandas as pd
from pathlib import Path

In [2]:
data_white = Path('../Resources/white_train_norm.csv')
df_white = pd.read_csv(data_white, sep = ',')
data_red = Path('../Resources/red_train_norm.csv')
df_red = pd.read_csv(data_red, sep = ',')
df_white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,1.939877,0.553966,0.711379,2.016530,0.303659,3.530348,111.0,0.997567,3.14,0.742896,12.4,6
1,1.846915,0.629961,0.760590,2.263702,0.344822,3.634241,195.0,0.998932,3.18,0.804145,9.5,5
2,1.775808,0.683990,0.691042,1.948695,0.333222,2.924018,95.0,0.997554,3.25,0.788374,11.1,6
3,1.903778,0.574890,0.704730,1.193483,0.330193,3.207534,101.0,0.997711,3.21,0.814325,10.8,7
4,1.974681,0.669433,0.638250,2.666059,0.375629,3.301927,174.0,0.999920,3.20,0.793701,10.4,5

In [3]:
df_white.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,11809.000000,11809.000000,11809.000000,11809.000000,11809.000000,11809.000000,11809.000000,11809.000000,11809.000000,11809.000000,11809.000000,11809.000000
mean,1.911049,0.657685,0.685497,1.610561,0.338067,3.003523,125.045347,0.997753,3.214704,0.774813,10.923278,6.000000
std,0.088528,0.075052,0.095902,0.481233,0.034872,0.628202,43.697222,0.000960,0.152141,0.060470,1.360435,2.000085
min,1.560491,0.430887,0.000000,0.843433,0.208008,1.442250,10.000000,0.995685,2.720000,0.603681,8.000000,3.000000
25%,1.856636,0.612693,0.654213,1.169607,0.317480,2.620741,98.000000,0.996971,3.120000,0.730614,9.733333,4.000000
50%,1.903778,0.654213,0.697953,1.574061,0.336198,3.072317,122.000000,0.997567,3.210000,0.771944,10.900000,6.000000
75%,1.948695,0.704730,0.736806,2.040828,0.363424,3.419952,151.000000,0.998464,3.310000,0.814325,12.400000,8.000000
max,2.175767,0.883656,0.892112,2.964394,0.451436,4.820285,259.000000,1.000982,3.820000,0.986485,14.200000,9.000000

In [4]:
df_red.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,2934.000000,2934.000000,2934.000000,2934.000000,2934.000000,2934.000000,2934.000000,2934.000000,2934.000000,2934.000000,2934.000000,2934.000000
mean,2.030808,0.810939,0.275556,1.318741,0.426708,2.312645,3.204489,0.996654,3.327914,0.864211,2.198982,5.500000
std,0.140216,0.114269,0.216393,0.131712,0.034864,0.540291,0.745617,0.001928,0.161512,0.063456,0.077664,1.708116
min,1.663103,0.493242,0.000000,0.965489,0.228943,1.442250,1.817121,0.990070,2.880000,0.717905,2.080084,3.000000
25%,1.939877,0.717905,0.050000,1.238562,0.408166,1.817121,2.519842,0.995252,3.230000,0.819321,2.132671,4.000000
50%,2.008299,0.806706,0.270000,1.300591,0.423582,2.289428,3.141381,0.996700,3.320000,0.857262,2.203575,5.500000
75%,2.147229,0.879366,0.460000,1.375069,0.443105,2.714418,3.659306,0.997800,3.417500,0.904504,2.250617,7.000000
max,2.466212,1.099724,0.760000,1.675069,0.527763,3.848501,5.484807,1.002100,3.900000,1.068530,2.410142,8.000000

In [11]:
# data_red = Path('../UCI_5000/winequality-red.csv')
data_red = Path('../Resources/red_train_norm.csv')
df_red = pd.read_csv(data_red, sep = ';')
# df_red.head()
df_red.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [12]:
# data_white = Path('../UCI_5000/winequality-white.csv')
data_white = Path('../Resources/white_train_norm.csv')
df_white = pd.read_csv(data_white, sep = ';')
# df_white.head()
df_white.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000

In [5]:
df_white['quality'].value_counts()

6    2198
5    1457
7     880
8     175
4     163
3      20
9       5
Name: quality, dtype: int64

In [7]:
y = df_white['quality']
X = df_white.drop(columns = 'quality')

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(3673, 11)

In [25]:
# Instantiate a StandardScaler instance
scaler = StandardScaler()

# Fit the training data to the standard scaler
X_scaler = scaler.fit(X_train)

# Transform the training data using the scaler
X_train_scaled = X_scaler.transform(X_train)

# Transform the testing data using the scaler
X_test_scaled = X_scaler.transform(X_test)

In [48]:
LogR = LogisticRegression(solver='sag',
                                max_iter=500,
                                random_state=1)
LogR

LogisticRegression(max_iter=500, random_state=1, solver='sag')

In [49]:
LogR.fit(X_train_scaled, y_train)

LogisticRegression(max_iter=500, random_state=1, solver='sag')

In [50]:
# Make predictions on the test set
y_pred = LogR.predict(X_test_scaled)

# Calculate the R-squared value
r_squared = r2_score(y_test, y_pred)
print(r_squared)

0.22991365743694436

In [51]:
# At 500 iterations 
# Make predictions on the test set
y_pred = LogR.predict(X_test)

# Calculate the R-squared value
r_squared = r2_score(y_test, y_pred)
print(r_squared)
print(accuracy_score(y_test, y_pred))

-5.35659903874782
0.05142857142857143

C:\Users\Benjamin\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

In [37]:
# Daniel
from sklearn.preprocessing import PolynomialFeatures

# Create 8th degree polynomial matrix
poly = PolynomialFeatures(8)

X_train_poly = poly.fit_transform(X_train)
X_val_poly = poly.transform(X_test)

X_train_polystd = scaler.fit_transform(X_train_poly)
X_val_polystd = scaler.transform(X_val_poly)

# Perform linear regression
reg = LinearRegression().fit(X_train_polystd, y_train)

y_pred_train = reg.predict(X_train_polystd)
y_pred_val = reg.predict(X_val_polystd)

print('RMSE Train: ', mean_squared_error(y_train, y_pred_train, squared=False))
print('RMSE Val: ', mean_squared_error(y_val, y_pred_val, squared=False))

NameError: name 'mean_squared_error' is not defined

In [41]:
print('RMSE Train: ', mean_squared_error(y_train, y_pred_train, squared=False))
print('RMSE Val: ', mean_squared_error(y_test, y_pred_val, squared=False))

RMSE Train:  1.5814786049692585e-10
RMSE Val:  337.817427199671
-145677.4029292947

In [44]:
accuracy_score(y_test, y_pred_val)

ValueError: Classification metrics can't handle a mix of multiclass and continuous targets